<header [ngClass]="rootClass" class="text-bg-main select-none" *ngIf="ready">
    <div class="container {{rootClass}}__container">
        <a routerLink="/" class="text-main"><h2 class="{{rootClass}}__title">{{ title }}</h2></a>

            <a *ngIf="!authenticated && router.url !== '/login'"
               routerLink="/login" class="text-sz-s text-wt-500 {{rootClass}}__link">Log in</a>
            <a *ngIf="authenticated && router.url !== '/account'"
               routerLink="/account" class="text-sz-s text-wt-500 {{rootClass}}__link">Account</a>
        </div>
</header>
