@import "variables";

$component: ".app-booked-ticket-info-dialog";
@import "/app/components/booking-confirmation-dialog/booking-confirmation-dialog.component";

#{$component} {
    &__title {
        margin-bottom: 10px;
    }

    &__clinic {
        margin-bottom: 0 !important;
    }

    &__clinic-info {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        margin-bottom: 5px;

        * {
            font-size: 18px;
        }

        & > span {
            & > span:nth-child(2) {
            }
        }
    }

    &__info > span > span {
        display: inline;
        margin-left: 0;
    }
}
