<h1 class="{{rootClass}}__title">Choose medic</h1>
<h3 class="text-sz-s {{rootClass}}__speciality">Chosen speciality: {{speciality.name}}</h3>
<div class="{{rootClass}}" [style]="'display:' + !ready? 'none':''">
    <div *ngFor="let medic of medics"
         (click)="router.navigate(['order/clinic/' + this.clinicId + '/speciality/' + speciality.code.toLowerCase() + '/medics'])"
         class="{{rootClass}}__medic">
        <img [src]="medic.photo" alt="photo"
             (load)="imagesLoad.next(imagesLoad.value+1)"
             class="{{rootClass}}__photo">
        <span class="{{rootClass}}__name">{{ (medic.firstName + " " + medic.lastName) | titlecase }}</span>
    </div>
</div>
