$color: (
        bg-main: #112D4E,
        bg-main--light: #3F72AF,
        bg-accent: #FB4B02FF,
        bg-accent--light: #FF9700FF,
        main: #DBE2EF,
        accent: #F9F7F7,
        "red": #F55870,
        "sandy": #F5E8C7
);
$text-size: (
        xxs: 14px,
        xs: 16px,
        s: 18px,
        m: 20px,
        l: 24px,
        xl: 28px,
        xxl: 32px
);
